Repository JayC-SF/GoVite.Inc-SOEN341_Project_F24, pull requests merged in 2024-09, with the labels that each got.

#1 PR: Set up Gin backend & connect Gin to static files from frontend
  backend/go.mod
  backend/go.sum
  backend/main.go
  frontend/vite.config.ts
Labels: enhancement, feature

#8 Update README.md
  README.md
Labels: documentation

#12 11 support different routes for react
  README.md
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/AppRoutes.tsx
  frontend/src/components/.gitkeep
  frontend/src/modules/.gitkeep
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/sign-in/SignInPage.tsx
Labels: feature, front-end

#28 Backend Files & Folder Organization
  backend/.gitignore
  backend/controllers/noroutes.go
  backend/controllers/ping.go
  backend/database/.gitkeep
  backend/main.go
  backend/middlewares/middlewares.go
  backend/models/.gitkeep
  backend/routes/api/api.go
  backend/routes/routes.go
  backend/util/paths.go
Labels: back-end

#27 Implemented Landing Page
  frontend/src/AppRoutes.tsx
  frontend/src/index.css
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/sign-in/SignInPage.tsx
  frontend/src/pages/sign-up/SignUpPage.tsx
Labels: front-end

#35 Added Dotenv Library
  backend/.env.template
  backend/.gitignore
  backend/go.mod
  backend/go.sum
  backend/main.go
Labels: back-end

#39 Student and Teacher sign up
  frontend/src/AppRoutes.tsx
  frontend/src/index.css
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/sign-up/SignUpPage.tsx
  frontend/src/pages/sign-up/StudentSignUp.tsx
  frontend/src/pages/sign-up/TeacherSignUp.tsx
Labels: front-end

#41 20 update readmemd documentation
  README.md
Labels: documentation

#48 Login page and minor updates
  frontend/src/AppRoutes.tsx
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/login/Login.tsx
Labels: front-end

#47 Create login and signup session with dummy authentication
  backend/config/authentication.go
  backend/config/paths.go
  backend/config/session_fields.go
  backend/controllers/authentication.go
  backend/controllers/noroutes.go
  backend/go.mod
  backend/go.sum
  backend/main.go
  backend/middleware/auth_session.go
  backend/middleware/serve_frontend.go
  backend/middlewares/middlewares.go
  backend/routes/api/api.go
  backend/routes/routes.go
  backend/util/authentication.go
  backend/util/paths.go
  frontend/src/pages/sign-up/StudentSignUp.tsx
  frontend/src/pages/sign-up/TeacherSignUp.tsx
Labels: feature, back-end
