Repository JayC-SF/GoVite.Inc-SOEN341_Project_F24, pull requests merged in 2024-10, with the labels that each got.

#57 PR: Implement the Sign Up and Log In Functionality for Users
  backend/controllers/authentication.go
  backend/controllers/students.go
  backend/controllers/teachers.go
  backend/database/connection.go
  backend/models/.gitkeep
  backend/models/login.go
  backend/models/user.go
  frontend/src/pages/sign-up/TeacherSignUp.tsx
Labels: feature, back-end, database

#56 Created the logout function
  backend/controllers/authentication.go
Labels: feature, back-end

#54 Readme student ID and Tech update
  README.md
Labels: documentation

#59 43 implement apilogout backend route bug fix
  backend/routes/api/api.go
Labels: bug, back-end

#62 Updated team members and roles in the README.md
  README.md
Labels: documentation

#60 18 dashboard
  .gitignore
  backend/controllers/authentication.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/AppRoutes.tsx
  frontend/src/pages/home/AccountToggle.tsx
  frontend/src/pages/home/Dashboard.tsx
  frontend/src/pages/home/MainPage.tsx
  frontend/src/pages/home/Sidebar.tsx
  frontend/src/pages/home/SidebarOptions.tsx
  package-lock.json
Labels: front-end

#63 completed logout feature and created json api request infrastructure
  backend/controllers/authentication.go
  backend/controllers/students.go
  backend/middleware/auth_session.go
  backend/routes/api/api.go
  frontend/index.html
  frontend/public/icon.svg
  frontend/public/vite.svg
  frontend/src/App.tsx
  frontend/src/AppRoutes.tsx
  frontend/src/contexts/.gitkeep
  frontend/src/hooks/auth.ts
  frontend/src/network/http/common.ts
  frontend/src/network/http/errorHandler.ts
  frontend/src/network/http/jsonRequest.ts
  frontend/src/network/routes.ts
  frontend/src/network/services/authService.ts
  frontend/src/network/services/studentsService.ts
  frontend/src/pages/home/MainPage.tsx
  frontend/src/pages/home/SidebarOptions.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/sign-up/StudentSignUp.tsx
  frontend/src/pages/sign-up/TeacherSignUp.tsx
Labels: front-end, back-end

#64 58 remove unused imports
  frontend/src/pages/home/AccountToggle.tsx
  frontend/src/pages/home/Dashboard.tsx
  frontend/src/pages/home/Sidebar.tsx
Labels: bug

#65 Meeting minutes sprint1
  sprints/sprint1/GoVite_Sprint1_1_2024-09-20.md
  sprints/sprint1/GoVite_Sprint1_2_2024-09-27.md
  sprints/sprint1/GoVite_Sprint1_3_2024-10-01.md
Labels: documentation

#67 Contribution log update
  sprints/sprint1/GoVite - Team Log Sprint 1.md
Labels: documentation

#89 Created new api endpoint and added network functionality in front end
  backend/controllers/authentication.go
  backend/middleware/auth_session.go
  backend/routes/api/api.go
  frontend/src/contexts/.gitkeep
  frontend/src/contexts/userinfo.ts
  frontend/src/hooks/useUserInfo.ts
  frontend/src/network/http/thenHandler.ts
  frontend/src/network/routes.ts
  frontend/src/network/services/commonService.ts
  frontend/src/pages/home/MainPage.tsx
  frontend/src/pages/main/MainPage.tsx
Labels: front-end, back-end

#90 Performed refactoring of the network service in front end
  frontend/src/hooks/useUserInfo.ts
  frontend/src/network/http/jsonRequest.ts
  frontend/src/network/services/authService.ts
  frontend/src/network/services/commonService.ts
  frontend/src/pages/main/MainPage.tsx
Labels: bug, front-end

#91 Teacher dashboard and modules display based on the role
  frontend/src/assets/SOEN 341.jfif
  frontend/src/assets/teacher.png
  frontend/src/modules/AccountToggle.tsx
  frontend/src/modules/GroupsModule.tsx
  frontend/src/pages/main/MainPage.tsx
Labels: front-end

#95 fix backend role assignation
  backend/controllers/authentication.go
  frontend/src/pages/main/MainPage.tsx
Labels: back-end

#92 Setup CI pipeline ensuring code compiles
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  frontend/src/modules/GroupsModule.tsx
  package-lock.json
Labels: sprint 2

#111 96 basic evaluation and submission UI
  frontend/src/components/CommentBox.tsx
  frontend/src/components/RatingQuestion.tsx
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/SelectRating.tsx
  frontend/src/modules/SidebarOptions.tsx
Labels: front-end, sprint 2

#114 Add basic functionality for Rating Peer Assessment Form
  backend/controllers/ratings.go
  backend/models/rating.go
  backend/routes/api/api.go
  frontend/src/modules/GroupsModule.tsx
  frontend/src/network/routes.ts
  frontend/src/network/services/ratingsService.ts
Labels: back-end, database, sprint 2

#123 Edit UI of groups page for teacher and student
  frontend/src/modules/StudentCourseGroups.tsx
  frontend/src/modules/TeacherCourseGroups.tsx
Labels: front-end

#122 74 create list of classes module
  backend/controllers/courses.go
  backend/routes/api/api.go
  frontend/src/assets/NoCoursesFound.svg
  frontend/src/index.css
  frontend/src/modules/GroupsModule.tsx
  frontend/src/pages/home/courses/StudentCourses.tsx
  frontend/src/pages/home/courses/TeacherCourses.tsx
Labels: front-end, back-end, sprint 2

#126 Create Backend API to Insert New Group for a Course
  backend/controllers/courses.go
  backend/controllers/groups.go
  backend/models/group.go
  backend/routes/api/api.go
  frontend/src/modules/TeacherCourseGroups.tsx
  frontend/src/network/routes.ts
  frontend/src/network/services/courseService.ts
  frontend/src/network/services/groupsService.ts
  frontend/src/network/services/ratingsService.ts
  frontend/src/pages/CoursePage.tsx
Labels: back-end, database, sprint 2

#127 73 implement studentgreetings module in the teacher dashboard
  frontend/src/assets/student.png
  frontend/src/assets/thumbnail.png
  frontend/src/modules/GroupsModule.tsx
  tmp/build-errors.log
Labels: front-end, back-end, sprint 2

#130 Create Confirmation Button & Add Cooperation Questions for Rating Form
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/SelectRating.tsx
  frontend/src/pages/CoursePage.tsx
  frontend/src/pages/home/courses/StudentCourses.tsx
Labels: back-end, database, sprint 2

#133 87 create redirect links for sidebar buttons
  frontend/src/components/SidebarLogo.tsx
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/SelectRating.tsx
  frontend/src/modules/SidebarOptions.tsx
Labels: feature, front-end, back-end, sprint 2

#134 All 5 meeting minutes
  sprints/sprint2/GoVite_Sprint2_1_2024-10-03.md
  sprints/sprint2/GoVite_Sprint2_2_2024-10-04.md
  sprints/sprint2/GoVite_Sprint2_3_2024-10-11.md
  sprints/sprint2/GoVite_Sprint2_4_2024-10-16.md
  sprints/sprint2/GoVite_Sprint2_5_2024-10-27.md
Labels: documentation, sprint 2

#135 132 UI redesign homepage coursepage
  frontend/src/assets/books.png
  frontend/src/components/SidebarLogo.tsx
  frontend/src/index.css
  frontend/src/modules/AccountToggle.tsx
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/Sidebar.tsx
  frontend/src/modules/SidebarOptions.tsx
  frontend/src/pages/CoursePage.tsx
  frontend/src/pages/home/courses/StudentCourses.tsx
  frontend/src/pages/home/courses/TeacherCourses.tsx
  frontend/src/pages/main/MainPage.tsx
  frontend/src/templates/SidebarPageTemplate.tsx
Labels: front-end

#138 Logs and new folders
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40101813.md
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40122030.md
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40224895.md
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40248073.md
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40248237.md
  sprints/sprint2/logs/GoVite - Team Log Sprint 2 - 40264581.md
  sprints/sprint2/meeting minutes/GoVite_Sprint2_1_2024-10-03.md
  sprints/sprint2/meeting minutes/GoVite_Sprint2_2_2024-10-04.md
  sprints/sprint2/meeting minutes/GoVite_Sprint2_3_2024-10-11.md
  sprints/sprint2/meeting minutes/GoVite_Sprint2_4_2024-10-16.md
  sprints/sprint2/meeting minutes/GoVite_Sprint2_5_2024-10-27.md
Labels: documentation, sprint 2
