Repository JayC-SF/GoVite.Inc-SOEN341_Project_F24, pull requests merged in 2024-11, with the labels that each got.

#150 added vitest suite and added examples for backend and front end
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  backend/example_test.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/Example.test.tsx
  frontend/src/setupTests.ts
  frontend/vite.config.ts
Labels: front-end, back-end, sprint3

#156 Minor changes on Instructor's Welcome Section
  frontend/src/modules/GroupsModule.tsx
Labels: front-end

#164 143 create new pages for summary and details in course page
  frontend/src/AppRoutes.tsx
  frontend/src/pages/course/CourseDetailsPage.tsx
  frontend/src/pages/course/CoursePage.tsx
  frontend/src/pages/course/CourseSummaryPage.tsx
Labels: front-end

#163 "Update styles for SidebarItem and SidebarOptions components"
  frontend/src/components/SidebarItem.tsx
  frontend/src/modules/SidebarOptions.tsx
Labels: front-end

#167 Dashboard Profile Icon and User Role Update
  frontend/src/modules/AccountToggle.tsx
Labels: front-end

#169 Page overflow styling fix 2.0
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/StudentCourseGroups.tsx
  frontend/src/pages/course/CoursePage.tsx
  frontend/src/pages/home/courses/StudentCourses.tsx
  frontend/src/pages/home/courses/TeacherCourses.tsx
  frontend/src/pages/main/MainPage.tsx
Labels: front-end

#166 Complete new post request for rating and get group info
  backend/controllers/groups.go
  backend/controllers/ratings.go
  backend/models/rating.go
  backend/models/ratings_criteria.go
  backend/models/user.go
  backend/util/util.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/CommentBox.tsx
  frontend/src/components/RatingQuestion.tsx
  frontend/src/contexts/useFormHookContext.ts
  frontend/src/hooks/auth.ts
  frontend/src/hooks/useFormHook.tsx
  frontend/src/modules/SelectRating.tsx
  frontend/src/network/services/ratingsService.ts
  frontend/src/pages/RatePage.tsx
Labels: front-end, back-end, sprint3

#181 sprint3 meeting minutes
  sprints/sprint3/meeting minutes/GoVite_Sprint3_1_2024-11-01.md
  sprints/sprint3/meeting minutes/GoVite_Sprint3_2_2024-11-08.md
Labels: documentation, sprint3

#185 154 create get request for getting detailed view info of course summary
  backend/controllers/courses.go
  backend/controllers/groups.go
  backend/models/criterion.go
  backend/models/group.go
  backend/models/rating.go
  backend/models/user.go
  backend/routes/api/api.go
  frontend/src/network/routes.ts
  frontend/src/network/services/courseService.ts
  frontend/src/pages/course/CourseDetailsPage.tsx
  frontend/src/pages/course/CourseSummaryPage.tsx
Labels: back-end

#189 140 summary view implementation
  backend/controllers/courses.go
  frontend/src/network/services/courseService.ts
  frontend/src/pages/course/CourseGroupTable.tsx
  frontend/src/pages/course/CoursePage.tsx
  frontend/src/pages/course/CourseSummaryPage.tsx
  frontend/src/pages/home/courses/StudentCourses.tsx
Labels: front-end

#190 Summary view style fix
  frontend/src/pages/course/CourseGroupTable.tsx
  frontend/src/pages/course/CourseSummaryPage.tsx
Labels: front-end

#186 add unit test for Dashboard page
  frontend/test/accounttoggle.test.tsx
  frontend/test/sidebaroptions.test.tsx
Labels: sprint3, Unit Testing

#192 177 Unit testing for ratings views
  frontend/test/ratingViews.test.tsx
Labels: sprint3, Unit Testing

#194 Fixed warnings in front unit tests, ensured people cant rate twice, cant rate yourself
  backend/controllers/ratings.go
  backend/models/ratings_criteria.go
  frontend/src/modules/SidebarOptions.tsx
  frontend/src/pages/home/GroupPage.tsx
  frontend/src/pages/home/HomePage.tsx
Labels: bug, front-end, back-end

#195 "Added test files for the rating features"
  frontend/package-lock.json
  frontend/package.json
  frontend/test/RatingQuestion.test.tsx
  frontend/test/RatingSelection.test.tsx
Labels: help wanted, sprint3, Unit Testing

#200 Fit summary view page to content
  frontend/src/pages/course/CourseSummaryPage.tsx
Labels: front-end

#201 182 sprint 3 members contribution logs
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40101813.md
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40122030.md
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40224895.md
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40248073.md
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40248237.md
  sprints/sprint3/logs/GoVite - Team Log Sprint 3 - 40264581.md
Labels: documentation, sprint3

#209 Allow summary page to extend fully with the content in the summary page
  frontend/src/pages/course/CourseSummaryPage.tsx
  frontend/src/templates/SidebarPageTemplate.tsx
Labels: front-end

#210 203 implement downloadable for summary view
  frontend/src/components/DownloadCSVButton.tsx
  frontend/src/pages/course/CourseGroupTable.tsx
  frontend/src/pages/course/CourseSummaryPage.tsx
Labels: feature, front-end, sprint 4

#219 Meeting minutes for Sprint4
  sprints/sprint4/meeting minutes/GoVite_Sprint4_1_2024-11-15.md
  sprints/sprint4/meeting minutes/GoVite_Sprint4_2_2024-11-19.md
  sprints/sprint4/meeting minutes/GoVite_Sprint4_3_2024-11-22.md
  sprints/sprint4/meeting minutes/GoVite_Sprint4_4_2024-11-25.md
Labels: documentation, sprint 4

#223 Document Backend API Infrastructure
  backend/docs/backend-docs.md
Labels: documentation, back-end, sprint 4

#224 46 implement footer component
  frontend/src/modules/Footer.tsx
  frontend/src/modules/GroupsModule.tsx
  frontend/src/modules/SidebarOptions.tsx
  frontend/src/pages/home/HomePage.tsx
  frontend/src/pages/login/Login.tsx
  frontend/src/pages/sign-up/StudentSignUp.tsx
  frontend/src/pages/sign-up/TeacherSignUp.tsx
  frontend/src/templates/SidebarPageTemplate.tsx
Labels: front-end, sprint 4

#225 add and update detailed documentation for frontend
  frontend/documentation/api_integration_doc.md
  frontend/documentation/folder_structure_doc.md
  frontend/documentation/prerequisites_doc.md
  frontend/documentation/project_overview_doc.md
  frontend/documentation/setup_instructions_doc.md
  frontend/documentation/testing_doc.md
  package-lock.json
  package.json
Labels: documentation, front-end, sprint 4

#226 204 added linter and code formatter
  .github/workflows/frontend.yml
  frontend/eslint.config.js
  frontend/package.json
  frontend/src/components/RatingQuestion.tsx
  frontend/src/modules/SelectRating.tsx
  frontend/src/network/http/jsonRequest.ts
  frontend/src/network/http/thenHandler.ts
  frontend/test/accounttoggle.test.tsx
  frontend/test/sidebarlogo.test.tsx
  frontend/test/sidebaroptions.test.tsx
  frontend/test/signup.test.tsx
Labels: front-end

#228 User profile and added links
  frontend/src/assets/StudentProfileIcon.svg
  frontend/src/assets/TeacherProfileIcon.svg
  frontend/src/contexts/userinfo.ts
  frontend/src/index.css
  frontend/src/pages/course/CourseDetailedView.tsx
  frontend/src/pages/userProfile/UserProfilePage.tsx
Labels: front-end, back-end

#231 Added missing banner
  frontend/src/pages/userProfile/UserProfilePage.tsx
Labels: front-end

#233 232 Meeting minute 4.5
  sprints/sprint4/meeting minutes/GoVite_Sprint4_5_2024-11-28.md
Labels: documentation, sprint 4

#235 215 Sprint 4 contribution logs
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40101813.md
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40122030.md
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40224895.md
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40248073.md
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40248237.md
  sprints/sprint4/logs/GoVite - Team Log Sprint 4 - 40264581.md
Labels: documentation, sprint 4

#234 [BUG] fix grey button
  frontend/src/components/Button.tsx
Labels: front-end
